{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About</h1>
</div>
<p class="lead">
  This is the v0.1 of TATA a web app that searches for toxic tweets in the latest 500 tweets of any pubblic account on Twitter.
  TATA is based on Natural Language Processing and Machine Learning to learn and predict the presence of harmfull text.
Visit my <a href="https://gt987.github.io">GitHub page</a> to learn more.
</p>
<p class="lead">Designed and deployed by Gabriele Trevisan.  </p>

{% endblock %}
